ConfigurationService.Maui/Config/MachineConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:simpleType name="positiveInt">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="MachineConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identity">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required"/>
            <xs:attribute name="Location" type="xs:string" use="required"/>
            <xs:attribute name="Version" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Network">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Agent" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Id" type="xs:string" use="required"/>
                  <xs:attribute name="Protocol" type="xs:string" use="required"/> <!-- http|grpc|custom -->
                  <xs:attribute name="Endpoint" type="xs:anyURI" use="required"/>
                  <xs:attribute name="ApiKey" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Fdm">
          <xs:complexType>
            <xs:attribute name="Present" type="xs:boolean" use="required"/>
            <xs:attribute name="NumberOfVirtualChannels" type="positiveInt" use="required"/>
            <xs:attribute name="MaxPowerDb" type="xs:double" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Lab">
          <xs:complexType>
            <xs:attribute name="WidthFt" type="xs:double" use="required"/>
            <xs:attribute name="LengthFt" type="xs:double" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Playback">
          <xs:complexType>
            <xs:attribute name="MaxFreqPlayedGhz" type="xs:double" use="required"/>
            <xs:attribute name="RecPortCount" type="positiveInt" use="required"/>
            <xs:attribute name="RandomizeShadowTime" type="xs:boolean" use="required"/>
            <xs:attribute name="BufferTimePs" type="xs:int" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:element name="Bands">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Band" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="MinMHz" type="xs:double" use="required"/>
                  <xs:attribute name="CenterMHz" type="xs:double" use="required"/>
                  <xs:attribute name="MaxMHz" type="xs:double" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
